appdirs==1.4.4
arrow==0.17.0
asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
distlib==0.3.1
dj-database-url==0.5.0
Django==3.0.8
filelock==3.0.12
gunicorn==20.0.4
idna==2.10
psycopg2-binary==2.8.6
python-dateutil==2.8.1
python-decouple==3.3
python-dotenv==0.15.0
pytz==2020.1
requests==2.24.0
sentry-sdk==0.18.0
six==1.15.0
spotipy==2.16.1
sqlparse==0.3.1
stravalib==0.10.2
units==0.7
urllib3==1.25.10
virtualenv==20.0.34
whitenoise==5.2.0
