<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Milky Day</title>


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/master.css' %}"/>

    {% block style %}
    {% endblock %}

  </head>

  <body>
    <header class="banner">

      <nav class="menu">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/music">Music</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
        </ul>
      </nav>

      {% block banner %}

      {% endblock %}

    </header>

    {% block content %}

    {% endblock %}

    <footer>
      <div class="socials">

        <a href="https://open.spotify.com/artist/7FIqXqYZHMomTAcTXF4UHu?si=xNPTpBJDS96d3MiaC2-UQw">
          <img src="{% static 'img/spotify-icons-logos/02_PNG/Spotify_ICon_RGB_White.png' %} " alt="spotify">
        </a>

        <div class="social-spacer"></div>

        <a href="https://soundcloud.com/milky_day">
          <img src="{% static 'img/icons/soundcloud.svg' %}" alt="soundcloud">
        </a>

        <div class="social-spacer"></div>

        <a href="https://music.apple.com/us/artist/milky-day/1360328982">
          <img src="{% static 'img/icons/music.svg' %}" alt="applemusic">
        </a>

        <div class="social-spacer"></div>

        <a href="https://www.instagram.com/itsmilkyday/">
          <img src="{% static 'img/icons/instagram.svg' %}" alt="instagram">
        </a>
      </div>
    </footer>

    {% block js %}
    {% endblock %}

  </body>
