{% extends 'main/base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}"/>

{% endblock %}

{% block first %}
  {% include 'main/messages.html' %}
{% endblock %}

{% block banner %}

  <div class="title">
    <h1>MILKY DAY</h1>
  </div>

  <img class="gallery-pic" src="{{s.banner_pic}}"/>

{% endblock %}

{% block content %}

    <div class="page">

      <div class="bio-container">
        <div class="bio">
          <p>{{s.bio}}</p>
        </div>
      </div>

      <div class="single-container">
        <h1 class="single-title">NEW SINGLE</h1>
        <div class="single" style="background-color:{{s.background_color}};">


          <div class="coverart">
            <img src="{{new_single.image}}" alt="album cover">
          </div>

          <div class="single-caption">
            <h1 style="color:{{s.text_color}};">{{new_single.name}}</h1>
            <button class="listen-now" onclick="location.href='https://open.spotify.com/album/{{new_single.id}}'" type="button" style="color:{{s.button_text_color}};background-color:{{s.button_color}};" name="button">LISTEN NOW</button>
          </div>

        </div>
      </div>

      <div class="gallery">

        <div class="one-and-two">
          <div class="one">
            <img class="gallery-pic" src="{{s.pic_one}}"/>
          </div>
          <div class="two">
            <img class="gallery-pic" src="{{s.pic_two}}"/>
          </div>
        </div>

        <div class="three">
          <img class="gallery-pic" src="{{s.pic_three}}"/>
        </div>

      </div>

    </div>

    <div class="youtube-container">

      <iframe class="youtube" src="https://www.youtube-nocookie.com/embed/{{s.video_link}}?&rel=0&autoplay=1&controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>

    <div class="playlist-gallery">

      <div class="playlist-title">
        <h1>SPOTIFY PLAYLISTS</h1>
      </div>

      <div class="carousel-container">

        <button type="button" class="panner" id="scroll-left" data-scroll-modifier='-1'>
          <img src="{% static 'img/arrows/left-arrow.svg' %}" alt="left">
        </button>

        <div class="carousel" id="carousel">

          {% for name, id, image in playlists %}

          <div class="spacer">
          </div>

            {% comment %}<div class="playlist-border">{% endcomment %}

              <div class="playlist-container">

                <img class='playlist-cover' src="{{image}}" alt="{{name}}">

                <iframe class='playlist' src="https://open.spotify.com/embed/playlist/{{id}}" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

              </div>

            {% comment %}</div>{% endcomment %}

            <div class="spacer">
            </div>

          {% endfor %}

        </div>

        <button type="button" class="panner" id="scroll-right" data-scroll-modifier='1'>
          <img src="{% static 'img/arrows/right-arrow.svg' %}" alt="right">
        </button>

      </div>

    </div>


{% endblock %}

{% block js %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  {% comment %}<script src="{% static 'js/panner.js' %}"></script>{% endcomment %}
  <script src="{% static 'js/simpleSlide.js' %}"></script>

{% endblock %}
