{% extends 'main/base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}"/>

{% endblock %}

{% block first %}
  {% include 'main/messages.html' %}
{% endblock %}

{% block banner %}

  <div class="title">
    <h1>MILKY DAY</h1>
  </div>

  <img class="gallery-pic" src="{% static 'img/banner/dark-hope.jpg' %}"/>

{% endblock %}

{% block content %}

    <div class="page">

      <div class="bio-container">
        <div class="bio">
          <p>Milky Day is an lofi/R&B artist from New Zealand, currently based in Los Angeles. He first began learning to play the piano at the age of 8 years old. In 2017, he fell in love with writing music and began producing, recording, and mixing his own tracks. His style ranges from lo-fi, rnb, to hip-hop, and generally has a chilled-out quality. Some of his popular tracks include “Take it Slow”, “Fool”, and “Feeling Blue”.</p>
        </div>
      </div>

      <div class="single-container">
        <h1 class="single-title">NEW SINGLE</h1>
        <div class="single">


          <div class="coverart">
            <img src="{{new_single.image}}" alt="album cover">
          </div>

          <div class="single-caption">
            <h1>{{new_single.name}}</h1>
            <button class="listen-now" type="button" name="button">LISTEN NOW</button>
          </div>

        </div>
      </div>

      <div class="gallery">

        <div class="one-and-two">
          <div class="one">
            <img class="gallery-pic" src="{% static 'img/gallery/pantry.JPG' %}"/>
          </div>
          <div class="two">
            <img class="gallery-pic" src="{% static 'img/gallery/bw-producing-two.JPG' %}"/>
          </div>
        </div>

        <div class="three">
          <img class="gallery-pic" src="{% static 'img/gallery/no-milky.jpeg' %}"/>
        </div>

      </div>

    </div>

    <div class="playlist-gallery">

      <div class="playlist-title">
        <h1>SPOTIFY PLAYLISTS</h1>
      </div>

      <div class="carousel-container">

        <button type="button" class="panner" id="scroll-left" data-scroll-modifier='-1'>
          <img src="{% static 'img/arrows/left-arrow.svg' %}" alt="left">
        </button>

        <div class="carousel" id="carousel">

          {% for name, id, image in playlists %}

          <div class="spacer">
          </div>

            {% comment %}<div class="playlist-border">{% endcomment %}

              <div class="playlist-container">

                <img class='playlist-cover' src="{{image}}" alt="{{name}}">

                <iframe class='playlist' src="https://open.spotify.com/embed/playlist/{{id}}" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

              </div>

            {% comment %}</div>{% endcomment %}

            <div class="spacer">
            </div>

          {% endfor %}

        </div>

        <button type="button" class="panner" id="scroll-right" data-scroll-modifier='1'>
          <img src="{% static 'img/arrows/right-arrow.svg' %}" alt="right">
        </button>

      </div>

    </div>


{% endblock %}

{% block js %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  {% comment %}<script src="{% static 'js/panner.js' %}"></script>{% endcomment %}
  <script src="{% static 'js/simpleSlide.js' %}"></script>

{% endblock %}
