{% extends 'main/base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/merch.css' %}"/>
{% endblock %}

{% block banner %}

  <div class="title">
    <h1>MERCH</h1>
  </div>

{% endblock %}

{% block content %}

    <div class="page">


      <div class="merch-gallery">

        <a class="f-a" href="/checkout">
          <div class="feature">
            <img class="merch-pic" src="{% static 'img/placeholder.jpg' %}"/>
            <div class="merch-text">
              <h1>Hat One</h1>
              <p>some random text</p>
            </div>
          </div>
        </a>

        <div class="non-feature">

          <a href="/checkout">
            <div class="one">
              <img class="merch-pic" src="{% static 'img/placeholder.jpg' %}"/>
              <div class="merch-text">
                <h1>Hat Two</h1>
                <p>some random text</p>
              </div>
            </div>
          </a>

          <a href="/checkout">
            <div class="two">
                <img class="merch-pic" src="{% static 'img/placeholder.jpg' %}"/>
                <div class="merch-text">
                  <h1>Hat Three</h1>
                  <p>some random text</p>
                </div>
            </div>
          </a>

        </div>

      </div>

    </div>

{% endblock %}
