{% extends 'main/base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/merch.css' %}"/>
{% endblock %}

{% block banner %}

  <div class="title">
    <h1>MERCH</h1>
  </div>

{% endblock %}

{% block content %}

    <div class="page">


      <div class="merch-gallery">

        <div class="feature">
          <a class="f-a" href="/checkout">
            <div class="pic-container">

                <img class="merch-pic" src="{{f.image}}"/>
                <div class="feature-text">
                  <h1>{{f.item_line_one}}</h1>
                  <h1>{{f.item_line_two}}</h1>
                  <p>
                    {{f.description_one}}
                  </p>
                  <p>
                    {{f.description_two}}
                  </p>
                </div>

            </div>
          </a>
        </div

        <div class="non-feature">

          {% for i in items %}

          <div class="item">
            <a href="/checkout">
              <div class="pic-container">
                  <img class="merch-pic" src="{{i.image}}"/>

                  <div class="merch-text">
                    <h1>{{i.item_line_one}}</h1>
                    <h1>{{i.item_line_two}}</h1>
                    <p>${{i.price}}</p>
                  </div>
              </div>
            </a>
          </div>

          {% endfor %}

        </div>

      </div>

    </div>

{% endblock %}
