{% extends 'main/base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/music.css' %}"/>
{% endblock %}

{% block banner %}
  <div class="title">
    <h1>MUSIC</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="page">

    <div class="album-gallery">

      {% for name, id, image in albums %}

        {% if id == '48VgfVUE1xE5pRUMVAXyeL' %}

        {% else %}

          <div class="unit-padding">

            <div class="album-border">

              <div class="album-container">

                <img class='album-cover' src="{{image}}" alt="{{name}}">

                <iframe class='album' src="https://open.spotify.com/embed/album/{{id}}" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

              </div>

            </div>

          </div>

        {% endif %}

      {% endfor %}

    </div>

  </div>
{% endblock %}
