{% extends 'main/base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/portfolio.css' %}"/>
{% endblock %}

{% block banner %}

  <div class="title">
    <h1>PORTFOLIO</h1>
  </div>

{% endblock %}

{% block content %}
<div class="page">

  <div class="tab-container">
    <!-- Tab links -->
    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'Production')" id="defaultOpen">PRODUCTION</button>
        <button class="tablinks" onclick="openTab(event, 'Mixing')">MIXING</button>
      <button class="tablinks" onclick="openTab(event, 'Features')">FEATURES</button>
    </div>

    <!-- Tab content -->
    <div class="content-container">

      <div id="Production" class="tabcontent">

        <div class="track-gallery">


          <div class="unit-padding">

            <div class="track-container">

              <iframe frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/858661516&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>

            </div>

          </div>

          <div class="unit-padding">

            <div class="track-container">

              <iframe frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/575690805&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>

            </div>

          </div>

          <div class="unit-padding">

            <div class="track-container">

              <iframe frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/920389336&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>

            </div>

          </div>


        </div>

      </div>

      <div id="Mixing" class="tabcontent">
        <div class="track-gallery">


          <div class="unit-padding">

            <div class="track-container">

              <iframe frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/929706670&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>

            </div>

          </div>

          <div class="unit-padding">

            <div class="track-container">

              <iframe frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/918990364&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>

            </div>

          </div>

          <div class="unit-padding">

            <div class="track-container">

              <iframe frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/875974234&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>

            </div>

          </div>


        </div>
      </div>

      <div id="Features" class="tabcontent">
        <div class="track-gallery">


          <div class="unit-padding">

            <div class="track-container">

              <iframe frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/912277021&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>

            </div>

          </div>

          <div class="unit-padding">

            <div class="track-container">

              <iframe frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/880125205&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>

            </div>

          </div>

          <div class="unit-padding">

            <div class="track-container">

              <iframe frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/981876520&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>

            </div>

          </div>


        </div>
      </div>

    </div>

  </div>

  <div class="contact-container">

    <form class="contact-form" action="" method="post">

      <div class="form-intro">
        <h1>Get In Touch</h1>
        <p>Flick me an email to inquire about my rates or for collaborations!</p>
      </div>


      {% csrf_token %}

      <ul class="form-row">

        {{form.as_ul}}

        <li><button type="submit">Send</button></li>

      </ul>

    </form>
  </div>

</div>
{% endblock %}

{% block js %}

  <script src="{% static 'js/portfolio.js' %}"></script>

{% endblock %}
