{% extends 'main/base.html' %}
{% load static %}

{% block reCAPTCHA %}
  <!-- reCAPTCHA API -->
  <script src='https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}'></script>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/portfolio.css' %}"/>
{% endblock %}

{% block banner %}

  <div class="title">
    <h1><span class="short-title">PORT.</span><span class="full-title">PORTFOLIO</span></h1>
  </div>

{% endblock %}

{% block content %}
<div class="page">

  <div class="tab-container">
    <!-- Tab links -->
    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'Production');var ifr=document.getElementsByClassName('production-frame')[0];ifr.src=ifr.src;var ifr=document.getElementsByClassName('production-frame')[1];ifr.src=ifr.src;var ifr=document.getElementsByClassName('production-frame')[2];ifr.src=ifr.src;" id="defaultOpen">PRODUCTION</button>
      <button class="tablinks" onclick="openTab(event, 'Mixing');var ifr=document.getElementsByClassName('mixing-frame')[0];ifr.src=ifr.src;var ifr=document.getElementsByClassName('mixing-frame')[1];ifr.src=ifr.src;var ifr=document.getElementsByClassName('mixing-frame')[2];ifr.src=ifr.src;">MIXING</button>
      <button class="tablinks" onclick="openTab(event, 'Features');var ifr=document.getElementsByClassName('feature-frame')[0];ifr.src=ifr.src;var ifr=document.getElementsByClassName('feature-frame')[1];ifr.src=ifr.src;var ifr=document.getElementsByClassName('feature-frame')[2];ifr.src=ifr.src;">FEATURES</button>
      <button class="tablinks" onclick="openTab(event, 'Music-Lessons')">MUSIC LESSONS</button>

    </div>

    <!-- Tab content -->
    <div class="content-container">

      <div id="Production" class="tabcontent">

        <div class="track-gallery">


          <div class="unit-padding">

            <div class="track-container">

              <iframe class="production-frame" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{s.production_one}}&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>

            </div>

          </div>

          <div class="unit-padding">

            <div class="track-container">

              <iframe class="production-frame" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{s.production_two}}&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>

            </div>

          </div>

          <div class="unit-padding">

            <div class="track-container">

              <iframe class="production-frame" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{s.production_three}}&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>

            </div>

          </div>


        </div>

      </div>

      <div id="Mixing" class="tabcontent">
        <div class="track-gallery">


          <div class="unit-padding">

            <div class="track-container">

              <iframe class="mixing-frame" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{s.mixing_one}}&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>

            </div>

          </div>

          <div class="unit-padding">

            <div class="track-container">

              <iframe class="mixing-frame" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{s.mixing_two}}&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>

            </div>

          </div>

          <div class="unit-padding">

            <div class="track-container">

              <iframe class="mixing-frame" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{s.mixing_three}}&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>

            </div>

          </div>


        </div>
      </div>

      <div id="Features" class="tabcontent">
        <div class="track-gallery">


          <div class="unit-padding">

            <div class="track-container">

              <iframe class="feature-frame" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{s.features_one}}&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>

            </div>

          </div>

          <div class="unit-padding">

            <div class="track-container">

              <iframe class="feature-frame" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{s.features_two}}&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>

            </div>

          </div>

          <div class="unit-padding">

            <div class="track-container">

              <iframe class="feature-frame" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{s.features_three}}&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>

            </div>

          </div>


        </div>
      </div>

      <div id="Music-Lessons" class="tabcontent">

        <div class="track-gallery">

          <p>For rates on private music lessons (piano, production, songwriting, etc.), please fill in the contact form below.</p>


        </div>

      </div>

    </div>

  </div>

  <script>
    //global grecaptcha
    grecaptcha.ready(function() {
      grecaptcha.execute('{{recaptcha_site_key}}', {action: "/portfolio/"}).then(function(token) {
        document.getElementById('g-recaptcha-response').value = token;
      });
    });
  </script>

  <div class="contact-container">

    <form class="contact-form" action="" method="post">

      <div class="form-intro">
        <h1>Get In Touch</h1>
        <p>Flick me an email to inquire about my rates or for collaborations!</p>
      </div>


      {% csrf_token %}

      <ul class="form-row">

        {{form.as_ul}}

        <!-- reCAPTCHA input -->
        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">

        <li><button type="submit">Send</button></li>

      </ul>

    </form>
  </div>

</div>
{% endblock %}

{% block js %}

  <script src="{% static 'js/portfolio.js' %}"></script>

{% endblock %}
