/* Header */
.banner {
  height: 550px;
}

/* bio section */

.bio {
  padding: 1em;
  padding-top: 4em;
  padding-bottom: 0;
  max-width: 900px;
}

.bio p {
  text-align: center;
}

/* new single section */

.single-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 4em;
  padding-bottom: 4em;
}

.single-title {
  padding-bottom: 2em;
}

.single {
  width: auto;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  background-color: #f8dbff;/*#292929; /* dark grey */
  padding: 3em;
  border-radius: 25px;
}

.coverart {
  width: 50%;
  max-width: 400px;
}

.coverart img {
  width: 100%;
}

.single-caption{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-caption h1 {
  color: black;
  font-size: 6vw;
  padding-bottom: 0.5em;
}

.listen-now {
  font-size: 2vw;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  align-self: center;
  border: none;
  color: white;
  background-color: #ad5f84; /* magenta */
}

.listen-now:hover {
  background-color: #585858;
  color:#fff;
}

.listen-now:focus {
  border: none;
  text-decoration: none;
  outline: none;
}


/* gallery */

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.one-and-two {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  width: 60%;
  margin: 0 auto;
}

.one,
.two,
.three {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  max-height: 300px;
}

.three {
  width: 40%;
  max-height: 600px
}

.gallery-pic {
  object-fit: cover;
  overflow: hidden;
  with: 100%;
}


/* playlist */

.playlist-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 4em;
}

.playlist-title {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.playlist-gallery h1 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.carousel {
  display: flex;
  align-items: center;
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

.spacer {
  padding: 1em;
  height: 100%;
  background-color: white;
}

.playlist-border {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #292929; /* dark grey */
  padding: 2em;
}

.playlist-boarder:after {
  padding-left: 100%;
}

.playlist-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 90vw;
  height: 90vw;
  max-height: 350px;
  max-width: 350px;
}

.playlist{
  display: none;
}

.playlist-container:hover .playlist{
  position: absolute;
  display: flex;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.playlist-cover {
  object-fit: cover;
  overflow: hidden;
  with: 100%;
}

/* scroll arrows */
.panner {
  width: auto;
  background-color: transparent;
}

#scroll-left, #scroll-right {
    display: flex;
    position: sticky;
    z-index: 3;
    justify-content: center;
    align-items: center;
    border-radius:0.63em;
    border: 0;
}
#scroll-left:hover, #scroll-right:hover {
    z-index: 3;
    cursor:pointer;
}

#scroll-left {
    left:15px;
}
#scroll-right {
    right:15px;
}



#scroll-left img, #scroll-right img {
  height: 50px;
  width: 20px;
}


@media only screen and (max-width: 740px) {
  /* mobile */
  .playlist-border {
    padding: 5vw;
  }

}

@media only screen and (min-width: 640px) {
  /* desktop */

  .single-caption h1 {
    font-size: 40px;
  }

  .listen-now {
    font-size: 14px;
  }

  .one-and-two {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 65%;
    margin: 0 auto;
  }

  .one,
  .two,
  .three {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    max-height: 400px;
  }

  .three {
    width: 35%;
    max-height: 800px
  }
}
