/* gallery */

.merch-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  width: 70%;
  margin: 0 auto;
  padding: 1em;
}

.feature {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  max-height: 400px;
  padding: 1em;
}

.non-feature {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.one,
.two {
  display: flex;
  justify-content: center;
  position: relative;
  width: 50%;
  max-height: 300px;
  padding: 1em;
}

.merch-pic {
  object-fit: cover;
  overflow: hidden;
  with: 100%;
}


@media only screen and (max-width: 740px) {
  /* mobile */
  .merch-gallery {
    width: 100%;
  }

}
