/* contact form */

.order-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  padding: 0em;
  width: 100%;
  max-width: 700px;
  border-radius: 25px;
}

.form-intro {
  width: 100%;
  margin-bottom: 20px;
}

.form-intro h1 {
  margin-bottom: 10px;
}

.order-form {
  background-color: grey;
  width: 100%;
  padding: 50px;
  color: white;
}

.form-row li {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: 1px solid RED; */
}

.form-row li input[type='text'],
.form-row li input[type='email'] {
  background-color: #FFFFFF;
  border: 0;
  border-radius: 3px;
  width: 100%;
  padding: 7px;

  color: #5D6063;
  /* border: 1px solid BLUE; */
}

.form-row li label {
  /* margin-bottom: 15px; */
  /* border: 1px solid GREEN; */
}



.form-row li button {
  font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #5995DA;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  margin-bottom: 0;
  cursor: pointer;
}

.form-row li button:hover {
  background-color: #76AEED;
  margin-bottom: 0;
}

.form-row li button:active {
  background-color: #407FC7;
  margin-bottom: 0;
}

@media only screen and (min-width: 640px) {

  .order-container {
    padding: 1em;
    margin: 2em;
    width: 100%;
  }

  .form-intro {
    width: 100%;
  }

  .order-form {
    width: 100%;
    padding: 4em;
  }

}
